.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar span {
  background-color: rgb(8, 61, 99);
  border-radius: 50%;
  padding: 4px;
  color: wheat;
  font-size: 0.7rem;
  min-width: 0.7re;
}
