.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-simulator {
  padding: 15px;
}

.main-setting {
  background-color: rgb(3, 36, 59);
  height: 250px;
  width: 250px;
  margin: 5px;
  color: wheat;
  padding: 5px;
}

.simulate-button {
  margin-top: 5px;
  cursor: pointer;
  color: wheat;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 40px;
  background-color: rgb(3, 36, 59);
  outline-style: none;
}

.simulate-button:hover {
  background-color: rgb(5, 53, 87);
}
